* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  max-width: 1280px;
  padding: 20px 2rem 20px 2rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* overflow: hidden; */
}

.container--header {
  padding: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  height: 180px;
}

.container--header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  top: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.header-logo {
  width: 15%;
  height: 4rem;
}

.header-logo-link {
  display: block;
}

.header-logo__main {
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 0.3;
  color: rgba(0, 0, 0, 0.7);
}

.header-logo__main-img {
  width: 3.5rem;
}

.header-menu {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: flex-end;
  gap: 4rem;
}

.header-menu__text {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 3.8rem;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.9);
}

.header-menu__text:hover {
  color: rgba(2, 0, 80, 0.9);
  font-weight: 600;
  margin-right: -4px;
  margin-left: -2px;
}

.header-menu__text--three:hover,
.header-menu__text--four:hover {
  margin-right: -2.25px;
  margin-left: -1.25px;
}
.header-menu__text--two:hover {
  margin-right: -3px;
  margin-left: -2px;
}

.header-menu__text--one:hover ::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 3px;
  top: 150px;
  left: 520px;
  background-color: rgba(2, 0, 80, 1);
}

.header-menu__text--two:hover ::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 110px;
  height: 3px;
  top: 150px;
  left: 715px;
  background-color: rgba(2, 0, 80, 1);
}

.header-menu__text--three:hover ::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 3px;
  top: 150px;
  left: 870px;
  background-color: rgba(2, 0, 80, 1);
}

.header-menu__text--four:hover ::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 95px;
  height: 3px;
  top: 150px;
  left: 1010px;
  background-color: rgba(2, 0, 80, 1);
}

.header-menu__text--five:hover ::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 3px;
  top: 150px;
  left: 1155px;
  background-color: rgba(2, 0, 80, 1);
}

/*.container-bg{
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
   background-image: url(../img/jpg/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
  background-position: 50% 50%;
  background-size: cover; 
  height: 100vh;
  width: 100vw;
  inset: 0;
  z-index: -999;
} */

/* .bg-overlay {
  position: absolute;
  display: inline;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
} */

/* h1{
  font-size: 3rem;
  font-family: "Oswald";
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color:rgba(255, 255, 255, 1);
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-shadow: 3px -3px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
} */

.container-main {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 880px;
}

.container-main--footer {
  height: auto;
}

.footer-block {
  height: 150px;
  width: 100%;
  background-color: rgba(2, 0, 80, 0.1);
}

.footer-logo__block {
  height: auto;
  width: 100%;
 }

.footer-block::before {
  content: "";
  position: absolute;
  top: -20px;
  width: 100%;
  height: 3px;

  background-color: rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.slides {
  position: relative;
  height: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -999;
  transition: opacity 1s;
}

.active {
  opacity: 1;
  z-index: 100;
}

.slide {
  font-size: 40px;
  /* padding: 40px; */
  box-sizing: border-box;
  background: #333;
  color: #fff;
  /* position: relative; */
}

.slide__link {
  display: block;
  position: relative;
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide__link-text {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 10px;
  text-align: center;
  height: 60px;
  background-color: rgba(2, 0, 80, 0.1);
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.slide__link-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 180px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  
  overflow: hidden;

  
  opacity: 0;

  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; */
}

.slide__link-info__text{
  height: 145px;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.8;
  letter-spacing: 0.06em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  }


.slide:hover .slide__link-info{
  opacity: 300;
}

.slide:nth-of-type(1) {
  background-color: red;
  background-image: url(../img/jpg/lucas-clara-hvPB-UCAmmU-unsplash.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.slide:nth-of-type(2) {
  background: orange;
  background-image: url(../img/jpg/nor.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.slide:nth-of-type(3) {
  background: green;
  background-image: url(../img/jpg/al.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.slide:nth-of-type(4) {
  background: blue;
  background-image: url(../img/jpg/shri-lanka-min.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

.slide:nth-of-type(5) {
  background: purple;
  background-image: url(../img/jpg/gree.jpg);
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
}

main {
  height: 95vh;
}

.carousel {
  margin-top: 1rem;
  margin-bottom: 20rem;
}

.indicators {
  display: flex;
  justify-content: center;
  gap: 1em;
  position: absolute;
  bottom: 30px;
  right: 10%;
  left: 10%;
}

.controls {
  /* display: flex;
  justify-content: center;
  gap: 1em; */
  margin-top: 1em;
}

/* .indicators{
  position: absolute;
  bottom: 0;
} */

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 10px;

  cursor: pointer;
  user-select: none;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 60px;
height: 100%; */
  cursor: pointer;
  user-select: none;
  z-index: 100;
  opacity: 0;
}

.indicator.active {
  background-color: rgba(2, 0, 80, 1);
}

.control--pause span {
  position: absolute;
  opacity: 0;
}
.control--play span {
  position: absolute;
  opacity: 0;
}

a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

.control--next {
  position: absolute;
  bottom: 20px;
  /* top: 0; */
  right: 0;

  width: 600px;
  height: 60px;
  background-color: rgba(2, 0, 80, 0.1);
  opacity: 1;
}

.control--prev {
  position: absolute;
  bottom: 20px;
  left: 0;

  width: 600px;
  height: 60px;
  background-color: rgba(2, 0, 80, 0.1);
  opacity: 1;
}

.control--pause {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 30%;
  left: 35%;
}

/* .carousel:hover .control--prev,
.carousel:hover .control--next,
.carousel:hover .control--pause{
  opacity: 1;;
} */

.control--prev:hover {
  background-color: rgba(2, 0, 80, 0.2);
}

.control--next:hover {
  background-color: rgba(2, 0, 80, 0.2);
}

.control--pause:hover {
  opacity: 1;
}
.control--play:hover {
  opacity: 1;
}

.wrapper {
  position: fixed;
  width: inherit;
  max-width: 100%;
  padding: 0;
  bottom: 0;
  z-index: 500;
}

/* .ua{
  height: 50px;
  max-width: 1600px;
  position: fixed;
  bottom: 0;
  color: red;
  overflow: hidden;
} */

.ua {
  background-color: rgba(2, 0, 80, 0.5);
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.ua::before,
.ua::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  background: linear-gradient(
    to right,
    rgba(2, 0, 80, 0.5) 0%,
    rgba(2, 0, 80, 0.2) 70%,
    rgba(2, 0, 80, 0) 100%
  );
}

.ua::before {
  left: 0;
  z-index: 1;
}

.ua::after {
  right: 0;
  z-index: 1;
  transform: rotate(180deg);
}

.ua-slog {
  height: inherit;
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: slideshow 20s linear infinite;
}

.ua-slog__vin {
  color: yellow;
  height: 20px;
  padding: auto;
  padding-left: 200px;
  margin: auto;
  display: inline-block;
  white-space: nowrap;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.fa-circle-pause,
.fa-circle-play {
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.5);
}

.header-logo--footer {
  width: 20%;
  height: 2rem;
  padding-top: 20px;
  padding-left: 20px;
}

.header-logo__main--footer {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.header-logo__main-img--footer {
  width: 1.7rem;
}


.footer-block__pos{
  display: flex;
  padding: 20px;
 }

.footer-menu{
  display: flex;
  justify-content: flex-start;
  width: 80%;
  gap: 10rem;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0.12em;
 
  
}


.section-info{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.section-info a,
.section-info span{
  text-transform: uppercase;
}