@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar{
  user-select: none;
}

.burger-menu{
  @include md-min{
    display: none;
  }
  @include md{
    display: block;
  }
}

.burger-menu__button{
  display: block;
  position: fixed;
  top: 40px;
  right: 10%;
  z-index: 1000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}

.burger-menu__button:hover .burger-menu__lines{
  filter: brightness(0.7);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before{
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
  z-index: 2000;
}

.burger-menu__lines{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu__lines::before{
  content: "";
top: -8px;
}

.burger-menu__lines::after{
  content: "";
  top:8px;
}

.burger-menu__active .burger-menu__lines{
  background-color: transparent;
}

.burger-menu__active{
  user-select: none;
}

.burger-menu__active .burger-menu__lines::before{
  top:0;
  transform: rotate(45deg);
}

.burger-menu__active .burger-menu__lines::after{
  top:0;
  transform: rotate(-45deg);
}

.burger-menu__nav{
  padding-top: 100px;
  position: fixed;
  top:0;
  z-index: 950;

  display: flex;
  flex-flow: column;
  // background-color: rgba($color-primary, 0.8);
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: -2px 2px 10px gray;
  right: 0;
  opacity: 0;
  width: 300px;
}

.burger-menu__active .burger-menu__nav{
  right: 0;
  opacity: 1;
}

.burger-menu__link{
  padding: 40px;
  font-family: $font-main;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 5px;
  // color:white;
  color: black;
  z-index: 10000;

  &--text{
    font-weight: 600;
    padding: 20px;
    text-align: center;
  }
}

.burger-menu__link:hover{
  filter: brightness(0.7);
}

.burger-menu__overlay{
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  z-index: 900;
}

.burger-menu__active .burger-menu__overlay{
  display: block;
}
